@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
* {
	padding: 0px;
	margin: 0px;
	font-family: Tahoma, sans-serif;
}
#menu a {
	font-family: 'Oswald', sans-serif;
	font-size: 18pt;
}
.font-family-1 {
    font-family: 'Oswald', sans-serif;
}
.product-container{
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
  border-radius: 15px;
  cursor: pointer;  
}
.sidebar{
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
  border-radius: 10px;  
}
.summary{
	display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Số dòng tối đa */
  -webkit-line-clamp: 3; 
  -moz-line-clamp: 3;
  -ms-line-clamp: 3;
  /* Độ cao mỗi dòng */
  line-height: 1.5em; 
  max-height: 4.5em; /* (Số dòng tối đa + 1) * độ cao mỗi dòng */
}
#main a{
  text-decoration: none;
}
.cart .buy-section{
  position: absolute;
  bottom: 0;
  right: 75px;
}